[Unit]
Description=RemotePi Robot Control Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/jfortin/remotePi
ExecStart=/usr/bin/python3 /home/jfortin/remotePi/remotePiMain.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
